.justified-social-container {

  margin-left: -5px;
  margin-right: -5px;

  .social-sharing.btn-group-justified {

    border-spacing: 5px;

  }

}

.light-text {

  .btn {

    color: #fff;
    background: transparent;
    border-color: #fff;

  }

}

.dark-text {

  .btn {

    color: inherit;
    background: transparent;
    border-color: inherit;

  }

}
