.section {

  padding-top: 80px;
  padding-bottom: 80px;

  &.the-services {

    .teaser {

      position: relative;

      &.domestic-landscaping {

        h3:before {

          background-image: url(../images/home.svg);

        }

      }

      &.commercial-property-maintenance {

        h3:before {

          background-image: url(../images/commercial-building.svg);

        }

      }

      h3 {

        padding-left: 80px;
        padding-bottom: 40px;

        &:before {

          content: ' ';
          display:block;
          width: 100px;
          height: 100px;
          position: absolute;
          top: -20px;
          left: 40px;
          background-repeat: no-repeat;
          color: blue;

        }

      }


      // &.domestic-landscaping {
      //
      //   h3 {
      //
      //     padding-left: 80px;
      //     padding-bottom: 40px;
      //
      //     &:before {
      //
      //       content: ' ';
      //       display:block;
      //       width: 100px;
      //       height: 100px;
      //       position: absolute;
      //       top: -20px;
      //       left: 40px;
      //       background-repeat: no-repeat;
      //       background-image: url(../images/home.svg);//
      //       color: blue;
      //
      //     }
      //
      //   }
      //
      // }

    }

    /* Medium screen and bigger */
    @media (min-width: $screen-md-max) {

      .teaser-content {
        padding-left: 40px;

      }

    }

    h3 {

      margin-top: 0;

    }

  }

}

.no-section-padding {

  padding-top: 0;
  padding-bottom: 0;

  // Correct WP addition of a <p> wrapper on a content-embedded image
  p img {

    margin-bottom: -16px;

  }

}

// Ensure that the section spans to the vertical edges by means of negative margin
.section.full-width {

    margin-left: ($grid-gutter-width / 2) * -1 ;
    margin-right: ($grid-gutter-width / 2) * -1 ;

}

.section-image {

}

.section-content {

  padding: 80px;

}

.bg-image {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position:center;
  position: relative;

  .opaque-layer {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }

}

.light-text {

    color: #fff;

}
